     Class label  Alcohol  Malic acid
0              1    14.23        1.71
1              1    13.20        1.78
2              1    13.16        2.36
3              1    14.37        1.95
4              1    13.24        2.59
5              1    14.20        1.76
6              1    14.39        1.87
7              1    14.06        2.15
8              1    14.83        1.64
9              1    13.86        1.35
10             1    14.10        2.16
11             1    14.12        1.48
12             1    13.75        1.73
13             1    14.75        1.73
14             1    14.38        1.87
15             1    13.63        1.81
16             1    14.30        1.92
17             1    13.83        1.57
18             1    14.19        1.59
19             1    13.64        3.10
20             1    14.06        1.63
21             1    12.93        3.80
22             1    13.71        1.86
23             1    12.85        1.60
24             1    13.50        1.81
25             1    13.05        2.05
26             1    13.39        1.77
27             1    13.30        1.72
28             1    13.87        1.90
29             1    14.02        1.68
..           ...      ...         ...
148            3    13.32        3.24
149            3    13.08        3.90
150            3    13.50        3.12
151            3    12.79        2.67
152            3    13.11        1.90
153            3    13.23        3.30
154            3    12.58        1.29
155            3    13.17        5.19
156            3    13.84        4.12
157            3    12.45        3.03
158            3    14.34        1.68
159            3    13.48        1.67
160            3    12.36        3.83
161            3    13.69        3.26
162            3    12.85        3.27
163            3    12.96        3.45
164            3    13.78        2.76
165            3    13.73        4.36
166            3    13.45        3.70
167            3    12.82        3.37
168            3    13.58        2.58
169            3    13.40        4.60
170            3    12.20        3.03
171            3    12.77        2.39
172            3    14.16        2.51
173            3    13.71        5.65
174            3    13.40        3.91
175            3    13.27        4.28
176            3    13.17        2.59
177            3    14.13        4.10

[178 rows x 3 columns]